body{
                
                background-image: url(intergrun.jpg);
                background-size: 100%;
                background-repeat: no-repeat;
                height: 20em;
        outline: 1px solid;
        width: 30em;
}

body{
    color: hotpink
    
}